@model IEnumerable<UWGBRestaurantAutomation.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Payments</h2>

@{
    if (ViewBag.Role == "Server")
    {
        Html.RenderPartial("_Servers");
    }
    if (ViewBag.Role == "Customer")
    {
        Html.RenderPartial("_Customers");
    }
    if (ViewBag.Role == "Cook")
    {
        Html.RenderPartial("_Cooks");
    }
}


