@model IEnumerable<UWGBRestaurantAutomation.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Payments</h2>


<table class="table">
    <tr>
        <td>Your payment was successful. Your order is on the way!</td>
    </tr>

</table>

