@model IEnumerable<UWGBRestaurantAutomation.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>


@{ 
    if (ViewBag.Role == "Server")
    {
        Html.RenderPartial("_Servers");
    }
    if (ViewBag.Role == "Customer")
    {
        Html.RenderPartial("_Customers");
    }
    if (ViewBag.Role == "Cook")
    {
        Html.RenderPartial("_Cooks");
    }
}
