@model IEnumerable<UWGBRestaurantAutomation.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ 
    if (ViewBag.Role == "Server")
    {
        Html.RenderPartial("_Servers");
    }
    if (ViewBag.Role == "Customer")
    {
        Html.RenderPartial("_Customers");
    }
}
